<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="ConfigConnection" connectionString="Data Source=vafscsqlecb206,44444;Initial Catalog=ECD_FHIR;Integrated Security=True;Encrypt=True;trustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="SqlConnectionString" connectionString="Data Source=vafscsqlecb206,44444;Initial Catalog=ECD_FHIR;Integrated Security=True;Encrypt=yes;trustServerCertificate=True;" providerName="System.Data.SqlClient" />
		<add name="EdiFhirEntities" connectionString="metadata=res://*/EdiFhirModel.csdl|res://*/EdiFhirModel.ssdl|res://*/EdiFhirModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vafscsqlecb206,44444;initial catalog=ECD_FHIR;integrated security=True;Encrypt=yes;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="ActiveEnvironmentName" value="Local" />
		<add key="ChronJobTimerIntervalMilliseconds" value="900000" />
		<!--Polling interval for Chron Jobs-->
		<add key="DailyReportBasePath" value="" />
		<add key="DailyReportHourOfDayToCreateReport" value="7" />
		<!--<add key="DailyReportHourOfDayToDistributeReport" value="8" /> Report now sends automatically once created-->
		<add key="DailyReportIsEnabled" value="true" />
		<add key="EmailDistributionListDailyReport" value="drew.shannonn@va.gov" />
		<add key="EmailDistributionListDatabaseUpdateFailure" value="drew.shannon@va.gov,jon.gallegos@va.gov" />
		<add key="EmailDistributionListDataIntegrity" value="drew.shannon@va.gov,jon.gallegos@va.gov" />
		<add key="EmailDistributionListRmqConnectionFailure" value="drew.shannon@va.gov,jon.gallegos@va.gov" />
		<add key="EmailFrom" value="DoNotReply@va.gov" />
		<add key="EmailPort" value="25" />
		<add key="EmailServer" value="smtp.va.gov" />
		<add key="EmailSuppressionTimeSpanHours" value="4" />
		<!--Additional emails will be suppressed inside of this time span if the subject and recipient are the same-->
		<add key="F277PerformanceAnalysisStudyStartSecond" value="1" />
		<!--Second of the day, of 86,400 total seconds, to start evaluating F277 performance-->
		<add key="F277PerformanceAnalysisStudyEndSecond" value="86399" />
		<!--Second of the day, of 86,400 total seconds, to stop evaluating F277 performance-->
		<add key="F277ProcessorInactivityAlertTimeMinutes" value="60" />
		<add key="FileOutputJsonEnabled" value="true" />
		<!--Set to true to troubleshoot Json-->
		<add key="FileOutputJsonRootPath" value="C:\Apps_Logs\eBilling\Json277\" />
		<!--When enabled above, 277 Json is sent to a file at on this path-->
		<add key="FileOutputJsonSynchronousMetadataUpdatesEnabled" value="true" />
		<!--When enabled, allows the boolean flag and the time stamp to be updated synchronously, with each message enqueuement-->
		<add key="FileOutputJsonAsynchronousMetadataUpdatesEnabled" value="false" />
		<!--When enabled, allows a timer to batch up and update Json metadata in the Claim Ack table for a lower table locking risk-->
		<add key="FileOutputLegacyEnabled" value="true" />
		<add key="HourOfDayToRunDatabaseLogTruncation" value="23" />
		<!--Hour of the day to run DB Log truncation in 24 hour format-->
		<add key="HourOfDayToRunF277PerformanceAnalysis" value="23" />
		<!--The hour of day to run and save F277 performance metrics-->
		<add key="HourOfDayToRunRmqUptimeAnalysis" value="23" />
		<!--Hour of the day to run and save RMQ uptime information in 24 hour format-->
		<add key="MaxDatabaseLogRecordsToDeletePerPoll" value="5" />
		<!--The number of database log rows to delete on every polling interval-->
		<add key="MaxInitialRmqConnectionAttemptCount" value="10000" />
		<add key="NumberOfTimesToRetryDatabaseConnectionInitialization" value="100" />
		<!--If the database has to reconnect, this is the number of times before it quits-->
		<add key="RmqAutoReconnectFailureEmailAlertTimeSeconds" value="30" />
		<!--An email alert will be sent if RMQ cannot reconnect inside this time span-->
		<add key="RmqCertificatePath" value="D:\SSL\EXPORT\TasCoreDer.P12" />
		<add key="RmqEnqueuementEnabled" value="true" />
		<!--Set to false to troubleshoot Json output without enqueuing-->
		<add key="RmqPort" value="5671" />
		<add key="RmqPwd" value="" />
		<add key="RmqQueue" value="277StatTransTest" />
		<add key="RmqServer" value="vac20apptas810.va.gov" />
		<add key="RmqUptimeAnalysisStartSecond1" value="1" />
		<!--Second of the day of 86,400 total seconds, to start evaluating RMQ uptime (Window 1)-->
		<add key="RmqUptimeAnalysisEndSecond1" value="86399" />
		<!--Second of the day of 86,400 total seconds, to stop evaluating RMQ uptime (Window 1)-->
		<add key="RmqUptimeAnalysisStartSecond2" value="21600" />
		<!--Second of the day, of 86,400 total seconds, to start evaluating RMQ uptime (Window 2)-->
		<add key="RmqUptimeAnalysisEndSecond2" value="64800" />
		<!--Second of the day, of 86,400 total seconds, to stop evaluating RMQ uptime (Window 2)-->
		<add key="RmqUser" value="" />
		<add key="RmqVirtualHost" value="fsc-queues-dev" />
		<add key="SendEmailsOnRmqConnectionErrors" value="true" />
		<add key="SendEmailsOnGeneralErrors" value="true" />
		<add key="SqlReconnectTimePeriodMilliseconds" value="5000" />
		<!--The time delay between SQL Update attempts, after the first attempt failed-->
		<add key="TimeIntervalBetweenDatabaseConnectionAttemptsMilliseconds" value="15000" />
		<!--The time interval between reconnection attempts-->
		<add key="TimeIntervalBetweenInitialRmqConnectionAttemptsMilliseconds" value="5000" />
		<!--The period of time that the Processor waits to generate the first connection to RMQ-->
		<add key="TimeIntervalForEnqueuing277Milliseconds" value="15000" />
		<!--The period of time that the F277 process waits until it starts polling the database and enqueuing-->
		<add key="TruncateDatabaseLogAfterNumberOfDays" value="30" />
		<!--Logging.Log table truncation-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="BatchSize" value="10000" />

		<!--ASB Queue Section Start-->
		<add key="ASBQueueConnectionString" value="Endpoint=sb://mccfservicebuseastdev.servicebus.usgovcloudapi.net/;SharedAccessKeyName=tascore_receipts;SharedAccessKey=bboYy/qtTGeRb+NM7Ms/MnB3L8MANbVeN+ASbAsXFbo=;" />
		<add key="ASBQueueName" value="277stat_receipts" />
		<!--ASB Queue Section End-->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- Off, Fatal, Error, Warn, Info, Debug, All -->
			<threshold value="Info" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<!--Rolling File Addition - keeping 10 archives for now (see maxSizeRollBackups below) -->
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="2MB" />
			<staticLogFileName value="false" />
			<!-- Rolling File Addition-->
			<file value="C:\\Apps_Logs\\eBilling\\Processor-localhost.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline%newline" />
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<threshold value="Info" />
			<bufferSize value="1" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<connectionString value="Data Source=vafscsqlecb206,44444;Initial Catalog=ECD_FHIR;Integrated Security=True;MultipleActiveResultSets=True;" />
			<commandText value="INSERT INTO Logging.Log([ApplicationId],[ThreadId],[ProcessId],[MachineName],[UserName],[EventLevelId],[EventLevel],[Message],[Payload],[DateTimeStamp]) VALUES (1, @thread, @processid, 'VAFSCMUL2358', @user, 1, @log_level, @message, @exception, @date)" />
			<parameter>
				<parameterName value="@date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.RawTimeStampLayout" />
			</parameter>
			<parameter>
				<parameterName value="@processid" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%P{PID}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@thread" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger" />
				<dbType value="String" />
				<size value="255" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message" />
				<dbType value="String" />
				<size value="-1" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception" />
				<dbType value="String" />
				<size value="-1" />
				<layout type="log4net.Layout.ExceptionLayout" />
			</parameter>
			<parameter>
				<parameterName value="@user" />
				<dbType value="String" />
				<size value="-1" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%identity" />
				</layout>
			</parameter>
		</appender>
		<root>
			<appender-ref ref="FileAppender" />
			<appender-ref ref="AdoNetAppender" />
		</root>
	</log4net>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>